.app-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;

    .app-header-list {
        display: flex;
        list-style-type: none;
        margin: 5px 0;

        .app-header-link {
            display: inline-block;
            color: $color-primary;
            font-weight: 500;
            text-decoration: none;
            padding: 0 28px;
        }
    }

    .new-acc-btn {
        @include btn-round;
        margin-top: -12px;
    }

    .app-header-item-pink {
        .app-header-link {
            color: $color-secondary;
        }
    }
}